<!-- <ion-view view-title="BcscApp" name="login-view"> -->
<ion-view view-title="BcscPlatform" hide-nav-bar="true" name="login-view" >
  <ion-content class="padding" >

<div class="list card" >

 
  <div class="item item-body">
    <img class="full-image" src="{{data.logo}}" >
    <p>
   <!--  <div class="row">
  <div class="col"></div>
  <div class="col" ><h2>Login</h2></div>
  <div class="col"></div>

</div> -->
      
    </p>
  
  </div>

</div>


      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="data.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-balanced" ng-click="login()" ng-disabled="!data.email || ! data.password">Iniciar session</button>
  </ion-content>
</ion-view>